@charset "UTF-8";
/*
 @group       master
 @author      TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
 @description libreria creada para proyectos personales.
*/
/*	Selectores:
		Universal (*): Selecciona todos los elementos.
		Hermanos:
			Siguiente - Singular (A + B): B está justo despues de A, se selecciona B.
			Siguientes - plural (A ~ B): B está despues de A, no importa si entre ellos hay otros elementos. Se selecciona todos los B.
		Atributos:
			Un atributo se selecciona en corchetes [class], [type]....
			Aceptan comodines:
				Dolar ($): Termina con.
					[src$="jpg"]
				Cared (^): Comienza con.
					[href^="http"]
				Ateristico (*): Contiene a.
					[class*="icon-"]
	SeudoClases: Se activan en determinadas circunstancias.
		:hover: Al pasar el cursor.
		:active: Al hacer clic.
		:visited: Un enlace que ya se visito.
		:focus: Un campo de formulario seleccionado.
		:empty: Selecciona elementos vacios.
		:not(): Selecciona a los elementos que no coincidan con el selector pasado como parametro.
		::selection: Al seleccionar un texto.
*/
/*
 @group   colors
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
/* IOS COLORS */
/* MATERIAL DESIGN COLORS */
/* EDteam COLORS */
/* SOCIAL COLORS */
/*COLOR btn--sm*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --mobile: 240px;
  --tablet: 640px;
  --desktop: 1024px;
  --fz-h1: 20px;
  --fz-h2: 18px;
  --fz-h3: 16px;
  --fz-h4: 14px;
  --fz-h5: 12px;
  --fz-h6: 10px;
  --title-banner: 2.25rem;
  --fz-text: 14px;
  --mr-main: 1rem;
  /*Ancho de Busqueda*/
  --w-search: 100%;
  /*Ancho de Menu*/
  --wmenu: 100%;
  --menu-wrap: wrap;
  --pos-menu: fixed;
  --toggle-view: block;
  --wcard-destacate: 100%;
}
@media screen and (min-width: var(--mobile)) {
  :root {
    --wmenu: 300px;
    --w-search: 300px;
    --mr-main: 3rem;
  }
}
@media screen and (min-width: var(--tablet)) {
  :root {
    --pos-menu: relative;
    --toggle-view: none;
    --wcard-destacate: 300px;
    --menu-wrap: nowrap;
  }
}

/*
 @group   base
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #607D8B;
}

ul {
  list-style: none;
}

p, a, span {
  font-size: 14px;
}

h1 {
  font-size: rem(20px);
}

h2 {
  font-size: rem(18px);
}

h3 {
  font-size: rem(16px);
}

h4 {
  font-size: rem(14px);
}

h5 {
  font-size: rem(12px);
}

h6 {
  font-size: rem(10px);
}

/*
 M&M Styles
 @group   Variables
 @author  TUPA ARELA, Marco Antonio
 @email   matupaarela@hotmail.com
*/
/*
 Breakpoints
*/
/*
 sonbras
*/
/*
 @group   functions
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
/*
 Obtiene el color
*/
/*
 Genera sonbras en un texto, convirtiendolo en 3D
 @param   {number} $number: el valor en pixeles.
 @param   {string} $color: el valor en rgb(), rgba(), exadecimales, etc.
 @return  {string} iteración de sombras.
*/
/*
 Transforma un valor en pixeles a em.
 @param   {number} $el: el valor en pixeles que se desea convertir.
 @param   {number} $context: el valor en pixeles del contenedor.
 @return  {number} el tamaño transformado en em.
*/
/*
 Transforma un valor en pixeles a rem.
 @param   {number} $el: el valor en pixeles que se desea convertir.
 @return  {number} el tamaño transformado en rem.
*/
/*
 @group   mixins
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
/*
 MIXIN: Cuadrado perfecto
*/
/*
 MIXIN: Tamaño de caja o rectangulo fijo
*/
/*
 MIXIN: Ancho fijo
*/
/*
 MIXIN: Alto fijo
*/
/*
 MIXIN: Centrado absoluto
*/
/*
 MIXIN: Para incluir fuentes
*/
/*
 MIXIN: Media query's
*/
/*
 MIXIN: Grid con flexbox (filas y columnas)
*/
/*
 @group   scroll_bar
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}

/* Carril del Scroll */
::-webkit-scrollbar-track {
  background: rgba(242, 242, 242, 0.2);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #F2F2F2;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(242, 242, 242, 0.3);
}

/*
 @group   tabs
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
.form {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.form__item {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0.5em;
}
.form__item__title {
  color: #4CAF50;
  border-bottom: 2px solid;
  margin-bottom: 0.5em;
}
.form__group, .form__group--btn {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  align-items: flex-start;
}
@media screen and (min-width: 720px) {
  .form__group, .form__group--btn {
    grid-template-columns: 30% 70%;
    align-items: center;
  }
}
.form__group--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.form__label {
  color: #607D8B;
  font-size: 11px;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .form__label {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5em;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
  }
}
.form__control {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(96, 125, 139, 0.5);
  border-radius: 0.3em;
  background: transparent;
  padding: 0 0.5em;
  font-size: 12px;
  transition: all 0.4s;
  height: 24px;
  max-height: 24px;
  min-height: 24px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.search {
  position: relative;
}

/*
 @group   buttons
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
.btn, .btn--sm, .btn--ism, .btn--success, .btn--primary, .btn--info, .btn--warning, .btn--danger {
  display: inline-block;
  padding: 0.8em 1.6em;
  cursor: pointer;
  border: none;
  outline: none;
}

/*
	Establece estilos predefinidos
*/
.btn-container {
  position: relative;
  min-width: 100px;
}

.btn, .btn--sm, .btn--ism, .btn--success, .btn--primary, .btn--info, .btn--warning, .btn--danger {
  background: #AAA;
  color: #333;
  border-radius: 0.25em;
}
.btn:hover, .btn--sm:hover, .btn--ism:hover, .btn--success:hover, .btn--primary:hover, .btn--info:hover, .btn--warning:hover, .btn--danger:hover {
  background: #9d9d9d;
}
.btn:active, .btn--sm:active, .btn--ism:active, .btn--success:active, .btn--primary:active, .btn--info:active, .btn--warning:active, .btn--danger:active {
  transform: scale(0.97);
}
.btn--success {
  background: #009688;
  color: #FFF;
  border-radius: 0.25em;
}
.btn--success:hover {
  background: #007d71;
}
.btn--success:active {
  transform: scale(0.97);
}
.btn--primary {
  background: #2196F3;
  color: #FFF;
  border-radius: 0.25em;
}
.btn--primary:hover {
  background: #0d8aee;
}
.btn--primary:active {
  transform: scale(0.97);
}
.btn--info {
  background: #5AC8FA;
  color: #FFF;
  border-radius: 0.25em;
}
.btn--info:hover {
  background: #41c0f9;
}
.btn--info:active {
  transform: scale(0.97);
}
.btn--warning {
  background: #FF9500;
  color: #FFF;
  border-radius: 0.25em;
}
.btn--warning:hover {
  background: #e68600;
}
.btn--warning:active {
  transform: scale(0.97);
}
.btn--danger {
  background: #E91E63;
  color: #FFF;
  border-radius: 0.25em;
}
.btn--danger:hover {
  background: #d81558;
}
.btn--danger:active {
  transform: scale(0.97);
}
.btn--sm, .btn--ism {
  padding: 0.15rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-size: 0.7rem;
}
.btn--ism {
  padding: 0;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}
.btn--ism i {
  margin: 0;
}
.btn--ism:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.btn--ism:hover:after, .btn--ism:hover:before {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 500;
}
.btn--ism:hover:after {
  content: "";
  height: 10px;
  max-height: 10px;
  min-height: 10px;
  width: 10px;
  max-width: 10px;
  min-width: 10px;
  transform: rotate(45deg);
  bottom: 102%;
  z-index: 499;
}
.btn--ism:hover:before {
  bottom: 112%;
  content: attr(tooltip);
  font-size: 0.7rem;
  padding: 0.5em 0.7em;
  border-radius: 0.2em;
  font-weight: bold;
  white-space: nowrap;
}

.ibtn {
  outline: none;
  background: #FF5652;
  border-radius: 50%;
  border: 2px solid #DF4744;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}
.ibtn i {
  margin: 0;
  font-size: 0;
  transform: scale(0);
}
.ibtn i:before {
  top: 1px;
}
@media screen and (max-width: 720px) {
  .ibtn i {
    font-size: 0.65rem;
  }
}
.ibtn:hover {
  background: #BF4744;
  border: 1px solid #AC312C;
  color: #4C0202;
}
.ibtn:hover i {
  font-size: 0.65rem;
}

.btn--floatting {
  border-radius: 50%;
  background: #388E3C;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
  right: 0;
  bottom: 0;
  margin: 1em;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
.btn--floatting [class*=i-]:before {
  color: #EEE;
  text-shadow: 1px 1px #000, 1px 1px #000, 2px 2px #000;
}
.btn--floatting:hover {
  box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
}

.btn--modern {
  display: inline-block;
  padding: 0.8em 1.6em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(to right, #1e7883, #a9bdbb, #ee7265);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.28s ease;
}
.btn--modern:hover {
  background: linear-gradient(to left, #1e7883, #a9bdbb, #ee7265);
}

/*
 @group   table
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
.table-container {
  overflow-x: auto;
}
@media screen and (min-width: 1024px) {
  .table-container {
    overflow: hidden;
  }
}

.table-caption {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: #607D8B;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 0.3em 0.3em 0 0;
}
.table-caption__title {
  color: #FFF;
}

.table {
  width: 100%;
  position: relative;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #FFF;
  font-size: 13px;
  border: 1px solid rgba(96, 125, 139, 0.5);
}
.table thead {
  border-bottom: 2px solid rgba(96, 125, 139, 0.5);
}
.table thead tr {
  background: #607D8B;
}
.table thead tr:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.table thead tr th {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  color: #FFF;
  padding: 0.5em;
}
.table thead tr th:first-child {
  border: none;
}
.table thead tr th .control {
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.table tbody {
  border-bottom: 2px solid rgba(96, 125, 139, 0.5);
}
.table tbody tr:hover {
  background-color: rgba(96, 125, 139, 0.2);
}
.table tbody tr td {
  border-bottom: 1px solid rgba(96, 125, 139, 0.3);
  padding: 0.3em 0.5em;
  text-align: center;
  font-size: 12px;
}
.table tbody tr td:nth-child(2n) {
  background-color: rgba(96, 125, 139, 0.1);
}
.table tbody tr td.xxs {
  min-width: 30px;
}
.table tbody tr td.xs {
  min-width: 60px;
}
.table tbody tr td.sm {
  min-width: 100px;
}
.table tbody tr td.lg {
  min-width: 200px;
}
.table tbody tr td.l {
  text-align: left;
}
.table tbody tr td.r {
  text-align: right;
}
.table tbody tr td.c {
  text-align: center;
}
.table tfoot tr td {
  text-align: center;
  border-bottom: 1px solid rgba(96, 125, 139, 0.5);
  color: #607D8B;
  font-weight: bold;
  font-size: 12px;
  padding: 0.3em 0.5em;
}
.table tfoot tr td:nth-child(2n) {
  background-color: rgba(96, 125, 139, 0.1);
}
.table tfoot tr td.l {
  text-align: left;
}
.table tfoot tr td.r {
  text-align: right;
}

/*
 @group   modal
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
.modal-container {
  position: fixed;
  display: none;
  top: 0;
  content: "";
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  z-index: 200;
  padding: 1em;
  background: radial-gradient(transparent, rgba(40, 45, 49, 0.9));
  /*background: radial-gradient(center,
  							ellipse cover,
  							rgba($black, .7) 0%,
  							rgba($black, .9) 100%);*/
}
.modal-container .modal, .modal-container .modal--visible {
  margin: auto;
  transition: 0.4s ease-out;
  opacity: 0;
  background-color: #FFF;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  height: auto;
  max-height: auto;
  min-height: auto;
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  border-radius: 5px;
}
@media screen and (max-width: 720px) {
  .modal-container .modal, .modal-container .modal--visible {
    height: auto;
    max-height: auto;
    min-height: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
.modal-container .modal--visible {
  transform: scale(1);
  opacity: 1;
}
.modal-container .modal.zoomin, .modal-container .zoomin.modal--visible {
  transform: scale(1.2);
}
.modal-container .modal.zoomout, .modal-container .zoomout.modal--visible {
  transform: scale(0.7);
}
.modal-container .modal__header {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
  color: #2196F3;
  font-weight: bold;
}
.modal-container .modal__body {
  max-height: calc(100vh - 127px);
  padding: 0.5em;
  overflow: hidden;
  overflow-y: auto;
}
.modal-container .modal__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
}
.modal-container .modal__footer .btn:first-child, .modal-container .modal__footer .btn--success:first-child, .modal-container .modal__footer .btn--primary:first-child, .modal-container .modal__footer .btn--info:first-child, .modal-container .modal__footer .btn--warning:first-child, .modal-container .modal__footer .btn--danger:first-child, .modal-container .modal__footer .btn--sm:first-child, .modal-container .modal__footer .btn--ism:first-child {
  margin-right: 0.5em;
}

/*
 @group   pagination
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
.pagination {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__link, .pagination__link--active, .pagination__link--disabled {
  background-color: rgba(76, 175, 80, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.3em 0.5em;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
}
.pagination__link:hover, .pagination__link--active:hover, .pagination__link--disabled:hover {
  background: rgba(76, 175, 80, 0.9);
  cursor: pointer;
}
.pagination__link--active {
  background: #4CAF50;
}
.pagination__link--active:hover {
  background: #4CAF50;
  cursor: text;
}
.pagination__link--disabled {
  background: rgba(76, 175, 80, 0.5);
}
.pagination__link--disabled:hover {
  background: rgba(76, 175, 80, 0.5);
  cursor: text;
}

/*
 @group   video
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
/*
 Videos responsive
 Este mixing se debe aplicar al contenedor del video.
 @param   {selector} $video: selector del elemento video
 @example scss
	#cursos {
		@include video("video");
	}
*/
/*
 @group   menu
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
/*
 estilo default del menu
 Aplica un estilo por defecto al menu.
*/
/*
 estilo nav para el menu
 incluye el breakpoint que lo cambia a horizontal
*/
/*
 estilo button para el menú
*/
/*
 mixin que construye el menú sin un tema, solo maqueta
 @param   {number} $bp - Breakpoint a partir del cual el menu se volvera horizontal.
 @param   {number} $style - estilo a usar en el menu las opciones son: [default | nav | button], este argumento es opcional.
 @example [scss | sass] - Usage
*/
/*
 mixin Nav (para el contenedor del menú)
 @param   {string} $direction  - El eje desde donde aparecera el menu. Las opciones son [left | right | top | bottom]
 @param   {number} $bp  - breakpoint que indica hasta donde debe mostrarse en vertical.
 @example scss
	nav {
		@include edNav(left, m);
	}
*/
/*
 Toggle del menu
 @param   {number} $size - especifica el tamaño del elemento toggle
 @param   {color} $color - especifica el color del toggle.
 @example scss
	.menu-toggle {
		@include navToggle(200px, $black);
	}
*/
.menu-toggle {
  display: var(--toggle-view);
}
.menu-toggle__check {
  display: none;
}
.menu-toggle__check:checked + .menu-toggle__label .menu-toggle__icon {
  transition-delay: 0s;
  background-color: transparent;
}
.menu-toggle__check:checked + .menu-toggle__label .menu-toggle__icon:before, .menu-toggle__check:checked + .menu-toggle__label .menu-toggle__icon:after {
  transition-delay: 0.125s;
}
.menu-toggle__check:checked + .menu-toggle__label .menu-toggle__icon:before {
  transform: translateY(8px) rotate(135deg);
}
.menu-toggle__check:checked + .menu-toggle__label .menu-toggle__icon:after {
  transform: translateY(-8px) rotate(-135deg);
}
.menu-toggle__label {
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.menu-toggle__icon {
  transition-delay: 0.125s;
  height: 4px;
  max-height: 4px;
  min-height: 4px;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  background-color: #FFF;
  border-radius: 2px;
  display: block;
}
.menu-toggle__icon:before, .menu-toggle__icon:after {
  height: 4px;
  max-height: 4px;
  min-height: 4px;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  background-color: #FFF;
  border-radius: 2px;
  transition-property: transform, border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transition-delay: 0s;
  transform-origin: center;
  content: "";
  position: absolute;
  left: 0;
}
.menu-toggle__icon:before {
  top: 0px;
}
.menu-toggle__icon:after {
  bottom: 0px;
}

.menu {
  display: flex;
}

/*
	@group   alert
	@author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/
.alert, .alert--success, .alert--warning, .alert--danger {
  height: auto;
  max-height: auto;
  min-height: auto;
  width: 350px;
  max-width: 350px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /*Change to position: fixed;*/
  bottom: 5px;
  right: 5px;
  justify-content: space-between;
  z-index: 300;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.alert--success {
  background-color: rgba(76, 175, 80, 0.9);
}
.alert--danger {
  background-color: rgba(244, 67, 54, 0.9);
}
.alert--warning {
  background-color: rgba(255, 152, 0, 0.9);
}
.alert__content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.alert__icon {
  width: 28px;
}
.alert__message {
  font-size: 14px;
  margin: 0 0.5em;
}
.alert__button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #FFF;
  opacity: 0.6;
}
.alert__button:hover {
  cursor: pointer;
  opacity: 1;
}

.tag, .tag--success, .tag--primary, .tag--info, .tag--warning, .tag--danger {
  padding: 1px 0.3em;
  border-radius: 0.2em;
  color: #FFF;
}
.tag--success {
  background-color: #4CAF50;
}
.tag--primary {
  background-color: #2196F3;
}
.tag--info {
  background-color: #03A9F4;
}
.tag--warning {
  background-color: #FFC107;
}
.tag--danger {
  background-color: #F44336;
}

.tooltip:after, .tooltip:before {
  position: absolute;
  color: #FFF;
  content: "";
  z-index: 200;
  background: rgba(0, 0, 0, 0.75);
}
.tooltip:after {
  content: attr(tooltip);
  top: -30px;
  left: 0;
  padding: 0.25em 0.5em;
  border-radius: 0.25em 0.25em 0.25em 0;
}
.tooltip:before {
  top: -10px;
  left: 1px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.tooltip-up,
.tooltip-down,
.tooltip-left,
.tooltip-right {
  font-size: 12px;
  position: absolute;
  text-align: center !important;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.99);
  color: #fff;
  border-radius: 3px;
  width: 250px;
  height: auto;
  padding: 7px 10px;
  z-index: 1;
  opacity: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.tooltip-right {
  top: -35%;
  left: 135%;
  transform: translateX(-15%);
  margin-top: -10px;
}
.tooltip-right:after {
  border-right: 7px solid rgba(0, 0, 0, 0.99);
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  position: absolute;
  top: 50%;
  content: "&amp;";
  height: 0;
  left: -7px;
  width: 0;
  transform: translateY(-50%);
}

.cross-center {
  /* Centramos verticalmente el ícono con el texto */
  display: flex;
  align-items: center;
}

.svg-icon {
  /* Le asignamos un tamaño y un margen al ícono */
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  fill: darkblue; /* currentColor actua como una variable tomando el valor que tenga el color de texto del padre del elemento. Si estás utilizando vectores que poseen distintos rellenos, omite esta línea de código*/
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-width: 100vw;
  max-width: 100vw;
  height: 50px;
  z-index: 100;
  background: steelblue;
}
.header .logo {
  color: #FFF;
  font-weight: bold;
}

.banner {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;
  background: #007BDF;
}
.banner__img {
  width: 100%;
  opacity: 0.5;
  filter: blur(2px);
}
.banner__slogan {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.banner__slogan__signed {
  width: 60px;
}
.banner__slogan__signed__img {
  max-width: 100%;
  width: 100%;
}
.banner__slogan__presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.banner__slogan__presentation__title, .banner__slogan__presentation__text {
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #000;
  margin-bottom: 1em;
}
.banner__slogan__presentation__title {
  font-weight: bold;
  font-size: var(--title-banner);
}

.destacate-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-small {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.text-title {
  color: #FFF;
  font-size: 1rem;
  letter-spacing: 1px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.card, .card--animation, .card--timeline {
  position: relative;
  background: white;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.25em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.card:hover, .card--animation:hover, .card--timeline:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
.card__head {
  position: relative;
}
.card__head__img {
  border-radius: 0.25em 0.25em 0 0;
}
.card__body, .card__foot {
  margin: 1rem;
}
.card__body {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
.card__body__title {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  padding-bottom: 0.25rem;
}
.card__body__title:hover {
  text-decoration: underline;
}
.card__body__text {
  margin-top: 0.5rem;
  text-align: justify;
}
.card__foot {
  width: 100%;
}
.card__foot.inline {
  display: flex;
  justify-content: space-around;
}
.card__feature {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 0.75rem;
}
.card__feature__icon {
  width: 32px;
  min-width: 32px;
  padding-right: 0.5rem;
  position: relative;
}
.card__feature__text {
  font-size: 0.875rem;
}
.card--timeline {
  flex-wrap: nowrap;
  box-shadow: none;
  background: transparent;
}
.card--timeline:hover {
  box-shadow: none;
}
.card--timeline .card__head,
.card--timeline .card__body {
  padding-bottom: 1em;
}
.card--timeline .card__head {
  display: block;
  margin-right: 1em;
  max-height: 150px;
  width: auto;
}
.card--timeline .card__head__img {
  height: 100%;
  width: auto;
}
.card--timeline .card__body {
  width: calc(60% - 2em);
  position: relative;
  height: auto;
  margin-top: 0;
}
.card--timeline .card__body__title:before, .card--timeline .card__body__title:after {
  display: block;
  content: "";
  position: absolute;
  background: steelblue;
  top: 5px;
}
.card--timeline .card__body__title:before {
  height: 10px;
  max-height: 10px;
  min-height: 10px;
  width: 10px;
  max-width: 10px;
  min-width: 10px;
  border-radius: 50%;
  left: -15px;
}
.card--timeline .card__body__title:after {
  height: 100%;
  width: 1px;
  left: -10px;
}
.container--flex-sb {
  display: flex;
  justify-content: space-between;
}

.card, .card--timeline, .card--animation {
  width: 320px;
  height: 260px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.2);
}
.card:hover .card__info, .card--timeline:hover .card__info, .card--animation:hover .card__info {
  transform: translateY(-180px);
}
.card__thumb {
  height: 180px;
  overflow: hidden;
}
.card__info {
  top: 180px;
  padding: 24px 16px;
  background: #FFF;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.card__info__link {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
.card__info__category {
  display: block;
  margin-bottom: 16px;
}
.card__info__description {
  height: 124px;
}
.card__info__description__temary {
  margin-top: 8px;
  position: relative;
  overflow: hidden;
}
.card__info__description__temary__item {
  border-left: 5px solid orange;
  padding-left: 1rem;
}
.card__info__description__temary__item:before {
  content: "";
  background: orange;
  width: 2px;
  height: 20%;
  position: absolute;
  left: 10px;
}
.card__info__foot {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 16px;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
@font-face {
  font-family: "cetpro";
  src: url("../ifonts/cetpro.eot");
  src: url("../ifonts/cetpro.eot?#iefix") format("embedded-opentype"), url("../ifonts/cetpro.woff") format("woff"), url("../ifonts/cetpro.ttf") format("truetype"), url("../ifonts/cetpro.svg#cetpro") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "cetpro" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=i-]:before,
[class*=" i-"]:before {
  font-family: "cetpro" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-search:before {
  content: "a";
}

.i-music:before {
  content: "b";
}

.i-list:before {
  content: "c";
}

.i-home:before {
  content: "d";
}

.i-setting:before {
  content: "f";
}

.i-power:before {
  content: "g";
}

.i-x:before {
  content: "h";
}

.i-check:before {
  content: "i";
}

.i-favorite:before {
  content: "j";
}

.i-refresh:before {
  content: "k";
}

.i-back:before {
  content: "l";
}

.i-right:before {
  content: "n";
}

.i-left:before {
  content: "o";
}

.i-less:before {
  content: "p";
}

.i-more:before {
  content: "q";
}

.i-down:before {
  content: "r";
}

.i-up:before {
  content: "s";
}

.i-calendary:before {
  content: "t";
}

.i-hidden:before {
  content: "u";
}

.i-show:before {
  content: "v";
}

.i-folder-open:before {
  content: "w";
}

.i-folder:before {
  content: "x";
}

.i-key-1:before {
  content: "A";
}

.i-conversations:before {
  content: "B";
}

.i-config:before {
  content: "C";
}

.i-like:before {
  content: "D";
}

.i-dislike:before {
  content: "E";
}

.i-login:before {
  content: "F";
}

.i-logout:before {
  content: "G";
}

.i-facebook:before {
  content: "I";
}

.i-twiter:before {
  content: "J";
}

.i-favorite-empty:before {
  content: "K";
}

.i-users:before {
  content: "L";
}

.i-clip:before {
  content: "M";
}

.i-mail:before {
  content: "N";
}

.i-dashboard:before {
  content: "O";
}

.i-organigram:before {
  content: "R";
}

.i-download:before {
  content: "S";
}

.i-upload:before {
  content: "T";
}

.i-pdf:before {
  content: "V";
}

.i-google:before {
  content: "Y";
}

.i-conversation:before {
  content: "0";
}

.i-video:before {
  content: "1";
}

.i-image:before {
  content: "2";
}

.i-edit:before {
  content: "3";
}

.i-print:before {
  content: "4";
}

.i-usd:before {
  content: "5";
}

.i-calc:before {
  content: "6";
}

.i-futball:before {
  content: "7";
}

.i-graphic-3d:before {
  content: "8";
}

.i-graphic-lineal:before {
  content: "9";
}

.i-delate:before {
  content: "!";
}

.i-mail-open:before {
  content: "#";
}

.i-user-circle:before {
  content: "$";
}

.i-zip:before {
  content: "e";
}

.i-send:before {
  content: "m";
}

.i-user:before {
  content: "y";
}

.i-graduation:before {
  content: "z";
}

.i-save:before {
  content: "H";
}

.i-menu:before {
  content: "P";
}

.i-tag:before {
  content: "Q";
}

.i-tags:before {
  content: "U";
}

.i-key:before {
  content: "W";
}

.i-gif:before {
  content: '"';
}

.i-message:before {
  content: "X";
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer__copy {
  width: 100%;
  text-align: center;
  color: #444;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social__img {
  width: 25px;
  fill: white;
  margin: 0;
  padding: 0;
}
.footer__social__facebook, .footer__social__youtube, .footer__social__linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  border-radius: 50%;
  margin: 0 0.5em;
}
.footer__social__facebook {
  background: #4267B2;
}
.footer__social__youtube img {
  min-width: 60px;
}
.footer__social__linkedin {
  background: #0077B5;
}

.contact {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 0.25em;
  overflow: hidden;
  position: fixed;
  bottom: -400px;
  right: 0.6rem;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  z-index: 100;
}
.contact.show {
  bottom: 4rem;
}

.profile-container, .profile-container--float {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.profile-container--float {
  position: absolute;
  top: 0;
}

.date {
  background: #2196F3;
  padding: 0.25em 0.5em;
  border-radius: 10px 0 0 10px;
  font-size: 12px;
}

.profile, .profile--big {
  color: #444;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__user {
  background-color: #2196F3;
  border-radius: 0 15px 15px 0;
  padding: 0.2em 0.5em;
  position: relative;
  left: -8px;
}
.profile__date, .profile__name {
  display: block;
  width: 100%;
}
.profile__date {
  font-size: 10px;
}
.profile__name {
  font-size: 12px;
}
.profile__avatar {
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  border: 3px solid #2196F3;
  background: white;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__avatar__img {
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}
.profile--big {
  flex-wrap: wrap;
  width: 100px;
}
.profile--big .profile__avatar {
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  width: 80px;
  max-width: 80px;
  min-width: 80px;
  border: 3px solid white;
  background-color: transparent;
}
.profile--big .profile__avatar__img {
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}
.profile--big .profile__name {
  color: #444;
  margin-top: 0.5em;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.dialog {
  border: none;
  padding: 2em 4em;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.search {
  width: var(--w-search);
}
.search__control {
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: var(--fz-text);
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 100%;
}
.search__result {
  width: 100%;
  background: #FFF;
  position: absolute;
  top: 35px;
  z-index: 10;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  border-radius: 0 0 0.5em 0.5em;
  padding: 0.5rem;
}

.detail {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}
.detail__learn {
  grid-column: 1/2;
}
.detail__requisite {
  grid-column: 2/3;
}
.detail__level {
  grid-column: 3/4;
}
.detail .sp-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
}
.detail .sp-desc {
  margin-left: 1.25rem;
  list-style-type: circle;
}

body {
  background: #F2F2F2;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px auto;
}

.header {
  grid-column: 1/2;
  grid-row: 1/1;
}

.aside {
  grid-column: 1/1;
  grid-row: 2/3;
}

.main {
  grid-column: 2/3;
  grid-row: 2/3;
}

/*# sourceMappingURL=styles.css.map */
