.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 1rem;
}
.card {
	$card: &;
	position: relative;
	background: white;
	display: flex;
	flex-wrap: wrap;
	border-radius: .25em;
	box-shadow: $shadow2dp;
	&:hover {
		box-shadow: $shadow6dp;
	}
	&__head {
		position: relative;
		&__img {
			border-radius: .25em .25em 0 0;
		}
	}
	&__body,
	&__foot {
		margin: 1rem;
	}
	&__body {
		margin-bottom: 0;
		padding-bottom: .5rem;
		&__title {
			font-size: 18px;
			font-weight: bold;
			width: 100%;
			display: inline-block;
			padding-bottom: .25rem;
			&:hover {
				text-decoration: underline;
			}
		}
		&__text {
			margin-top: .5rem;
			text-align: justify;
		}
	}
	&__foot {
		width: 100%;
		&.inline {
			display: flex;
			justify-content: space-around;
		}
	}
	&__feature {
		display: flex;
		width: 100%;
		align-items: center;
		margin-bottom: .75rem;
		&__icon {
			width: 32px;
			min-width: 32px;
			padding-right: .5rem;
			position: relative;
		}
		&__text {
			font-size: .875rem;
		}
	}

	&--timeline {
		@extend #{$card};
		flex-wrap: nowrap;
		box-shadow: none;
		background: transparent;
		&:hover {
			box-shadow: none;
		}

		.card__head,
		.card__body {
			padding-bottom: 1em;
		}
		.card__head {
			display: block;
			margin-right: 1em;
			max-height: 150px;
			width: auto;
			&__img {
				height: 100%;
				width: auto;
			}
		}
		.card__body {
			width: calc(60% - 2em);
			position: relative;
			height: auto;
			margin-top: 0;
			&__title {
				&:before,
				&:after {
					display: block;
					content: '';
					position: absolute;
					background: steelblue;
					top: 5px;
				}
				&:before {
					@include fixedBox(10px);
					border-radius: 50%;
					left: -15px;
				}
				&:after {
					height: 100%;
					width: 1px;
					left: -10px;
				}
			}
		}
	}
	&--animation {
		@extend #{$card};
	}
}


.container {
	$container: &;
	&--flex-sb {
		display: flex;
		justify-content: space-between;
	}
}

$card-h: 260px;

.card {
	width: 320px;
	height: $card-h;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0px 1px 6px 3px rgba(#000, .2);
	&:hover &__info {
		transform:translateY(-180px);
	}
	&__thumb {
		height: 180px;
		overflow: hidden;
	}
	&__info {
		//height: 180px;
		max-height: $card-h;
		top: 180px;
		padding: 24px 16px;
		background: #FFF;
		transition: .5s .25s cubic-bezier(.17,.67,.5,1.03);
		&__link {
			text-transform: uppercase;
			text-decoration: none;
			display: block;
			width: 100%;
			margin-bottom: 8px;
		}
		&__category {
			display: block;
			margin-bottom: 16px;
		}
		&__description {
			height: calc(180px - 56px);
			overflow: hidden;
			overflow-y: auto;
			&__temary {
				margin-top: 8px;
				position: relative;
				overflow: hidden;
				&__item {
					border-left: 5px solid orange;
					padding-left: 1rem;
					&:before {
						content: '';
						background: orange;
						width: 2px;
						height: 20%;
						position: absolute;
						left: 10px;
					}
				}
			}
		}
		&__foot {
			border-top: 1px solid rgba(black, .2);
			//padding-top: 16px;
		}
	}
}
/* Color Theme Swatches in Hex */
$Dorado-Tonos-1-hex: #B0870C;
$Dorado-Tonos-2-hex: #705608;
$Dorado-Tonos-3-hex: #F0B811;
$Dorado-Tonos-4-hex: #FCC212;
$Dorado-Tonos-5-hex: #D6A40F;

/* Color Theme Swatches in Hex */
$Piaggio-1-hex: #035AA6;
$Piaggio-2-hex: #03588C;
$Piaggio-3-hex: #04B2D9;
$Piaggio-4-hex: #0096CC;
$Piaggio-5-hex: #E9E9E9;

/* Color Theme Swatches in Hex */
$Hidden-Worlds-1-hex: #253840;
$Hidden-Worlds-2-hex: #455559;
$Hidden-Worlds-3-hex: #70878C;
$Hidden-Worlds-4-hex: #A4BABF;
$Hidden-Worlds-5-hex: #C1D4D9;