/*
 @group   colors
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/

/* IOS COLORS */
$ios_gray:        #8E8E93;
$ios_midgray:     #C7C7CC;
$ios_lightgray2:  #D1D1D6;
$ios_lightgray:   #E5E5EA;
$ios_custom-gray: #EFEFF4;
$ios_pink:        #FF2D55;
$ios_purple:      #5856D6;
$ios_blue:        #007AFF;
$ios_tealblue:    #5AC8FA;
$ios_green:       #4CD964;
$ios_yellow:      #FFCC00;
$ios_orange:      #FF9500;
$ios_red:         #FF3B30;
/* MATERIAL DESIGN COLORS */
$md_blue:        #2196F3;
$md_blue_grey:   #607D8B;
$md_grey:        #9E9E9E;
$md_brown:       #795548;
$md_deep_orange: #FF5722;
$md_orange:      #FF9800;
$md_amber:       #FFC107;
$md_yellow:      #FFEB3B;
$md_lime:        #CDDC39;
$md_light_green: #8BC34A;
$md_green:       #4CAF50;
$md_teal:        #009688;
$md_cyan:        #00BCD4;
$md_light_blue:  #03A9F4;
$md_indigo:      #3F51B5;
$md_deep_purple: #673AB7;
$md_purple:      #9C27B0;
$md_pink:        #E91E63;
$md_red:         #F44336;
/* EDteam COLORS */
$ed_blue:       #007BDF;
$ed_teal:       #00CBFF;
$ed_red:        #FF3C32;
$ed_green:      #388E3C;
$ed_yellow:     #FBA905;
$ed_dark:       #282D31;
$ed_grey:       #DFE0E0;
$ed_light_grey: #F2F2F2; //#FCFCFC;
$ed_dark_grey:  #53575A;
/* SOCIAL COLORS */
$facebook: #4267B2;
$twitter:  #1DA1F2;
$gplus:    #DB4437;
$github:   #24292E;
$linkedin: #0077B5;
$youtube: red;

$black:	   #000;
$white:    #FFF;

$text1: #444;

/*COLOR btn--sm*/
$bg1: #FF5652;
$bd1: #DF4744;
$x1: #7E0508;

$bg2: #BF4744;
$bd2: #AC312C;
$x2: #4C0202;

$mdc-theme-primary: #6200ee;
$mdc-theme-primary-light: #b37eff;
$mdc-theme-primary-dark: #8936ff;
$mdc-theme-secondary: #018786;
$mdc-theme-secondary-light: #02cecc;
$mdc-theme-secondary-dark: #004040;
$mdc-theme-background: #fff;
$mdc-theme-text-primary-on-primary: white;
$mdc-theme-text-secondary-on-primary: rgba(255, 255, 255, 0.7);
$mdc-theme-text-hint-on-primary: rgba(255, 255, 255, 0.5);
$mdc-theme-text-disabled-on-primary: rgba(255, 255, 255, 0.5);
$mdc-theme-text-icon-on-primary: rgba(255, 255, 255, 0.5);
$mdc-theme-text-primary-on-primary-light: rgba(0, 0, 0, 0.87);
$mdc-theme-text-secondary-on-primary-light: rgba(0, 0, 0, 0.54);
$mdc-theme-text-hint-on-primary-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-disabled-on-primary-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-icon-on-primary-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-primary-on-primary-dark: white;
$mdc-theme-text-secondary-on-primary-dark: rgba(255, 255, 255, 0.7);
$mdc-theme-text-hint-on-primary-dark: rgba(255, 255, 255, 0.5);
$mdc-theme-text-disabled-on-primary-dark: rgba(255, 255, 255, 0.5);
$mdc-theme-text-icon-on-primary-dark: rgba(255, 255, 255, 0.5);
$mdc-theme-text-primary-on-secondary: white;
$mdc-theme-text-secondary-on-secondary: rgba(255, 255, 255, 0.7);
$mdc-theme-text-hint-on-secondary: rgba(255, 255, 255, 0.5);
$mdc-theme-text-disabled-on-secondary: rgba(255, 255, 255, 0.5);
$mdc-theme-text-icon-on-secondary: rgba(255, 255, 255, 0.5);
$mdc-theme-text-primary-on-secondary-light: rgba(0, 0, 0, 0.87);
$mdc-theme-text-secondary-on-secondary-light: rgba(0, 0, 0, 0.54);
$mdc-theme-text-hint-on-secondary-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-disabled-on-secondary-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-icon-on-secondary-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-primary-on-secondary-dark: white;
$mdc-theme-text-secondary-on-secondary-dark: rgba(255, 255, 255, 0.7);
$mdc-theme-text-hint-on-secondary-dark: rgba(255, 255, 255, 0.5);
$mdc-theme-text-disabled-on-secondary-dark: rgba(255, 255, 255, 0.5);
$mdc-theme-text-icon-on-secondary-dark: rgba(255, 255, 255, 0.5);
$mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
$mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
$mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
$mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
$mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
$mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
$mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
$mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-primary-on-dark: white;
$mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
$mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
$mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
$mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
