.footer {
    @include center;
    flex-wrap: wrap;
    &__copy {
        width: 100%;
        text-align: center;
        color: $text1;
    }
    &__social {
        @include center;
        &__img {
            width: 25px;
            fill: white;
            margin: 0;
            padding: 0;
        }
        &__facebook,
        &__youtube,
        &__linkedin {
            @include center;
            @include fixedBox(40px);
            border-radius: 50%;
            margin: 0 .5em;
        }
        &__facebook {
            background: $facebook;
        }
        &__youtube {
            img {
                min-width: 60px;
            }
        }
        &__linkedin {
            background: $linkedin;
        }
    }
}