/*
 @group   mixins
 @author  TUPA ARELA, Marco Antonio (matupaarela@hotmail.com)
*/

@mixin alpha-attribute($attribute, $color, $background) {
	$percent: alpha($color) * 100%;
	$opaque: opacify($color, 1);
	$solid-color: mix($opaque, $background, $percent);
	#{$attribute}: $solid-color;
	#{$attribute}: $color;
}

@mixin transitionMaxHeight {
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			transition: max-height .5s #{.65 + $i * .02}s ease-in;
		}
	}
}

/*
 MIXIN: Cuadrado perfecto
*/
@mixin fixedBox($sz) {
	height: $sz;
	max-height: $sz;
	min-height: $sz;
	width: $sz;
	max-width: $sz;
	min-width: $sz;
}

/*
 MIXIN: Tamaño de caja o rectangulo fijo
*/
@mixin fixedSize($height, $width) {
	height: $height;
	max-height: $height;
	min-height: $height;
	width: $width;
	max-width: $width;
	min-width: $width;
}

/*
 MIXIN: Ancho fijo
*/
@mixin fixedWidth($width) {
	width: $width;
	max-width: $width;
	min-width: $width;
}

/*
 MIXIN: Alto fijo
*/
@mixin fixedHeight($height) {
	height: $height;
	max-height: $height;
	min-height: $height;
}
/*
 MIXIN: Centrado absoluto
*/
@mixin center() {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin icenter() {
	@include center;
	display: inline-flex;
}

/*
 MIXIN: Para incluir fuentes
*/
@mixin fonts( $font_name, $font_src ) {
	@font-face {
		font-family: $font_name;
		src: url("../fonts/#{$font_src}") format("truetype");
	}
}

/*
 MIXIN: Media query's
*/

//desde
@mixin from($size) {
	@media screen and (min-width: $size) {
		@content;
	}
}
//hasta
@mixin to($size) {
	@media screen and (max-width: $size) {
		@content;
	}
}
//desde-hasta
@mixin from-to($from, $to) {
	@media screen and (min-width: $from) and (max-width: $to) {
		@content;
	}
}

/*
 MIXIN: Grid con flexbox (filas y columnas)
*/
@function item-width($column, $gutter) {
	@return calc(#{$column} - #{$gutter});
}

@mixin grid($item, $columns, $gutter: 8px){
	$column: 100% / $columns;
	display : flex;
	flex-wrap: wrap;
	margin-left : -($gutter / 2);
	margin-right : -($gutter / 2);

	#{$item}{
		width : item-width($column, $gutter);
		margin: $gutter / 2;
	}
}