.search {
	width: var(--w-search);
	&__control {
		outline: none;
		border: none;
		padding: .5rem;
		font-size: var(--fz-text);
		border-radius: .5em;
		margin-bottom: 1em;
		width: 100%;
	}

	&__result {
		width: 100%;
		background: #FFF;
		position: absolute;
		top: 35px;
		z-index: 10;
		box-shadow: $shadow4dp;
		border-radius: 0 0 .5em .5em;
		padding: 0.5rem;
	}
}